<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!contactForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="Enter Name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Profile Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              placeholder="Enter Image URL"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Email Id</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Enter Email Id"
              >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="contactNumbers">
          <div
            class="row"
            *ngFor="let contactNumberCtrl of contactForm.get('contactNumbers').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-3">
              <input
                type="text"
                class="form-control"
                placeholder="Contry Code "
                formControlName="name">
            </div>
            <div class="col-xs-7">
              <input
                type="text"
                class="form-control"
                placeholder="Contact Number"
                formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteContactNumber(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddContactNumber()">Add Contact Number</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
